<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepartamentoViewDlg" widgetVar="DepartamentoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDepartamentoTitle}">
            <h:form id="DepartamentoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{departamentoController.selected != null}">
                        <h:outputText value="#{bundle.ViewDepartamentoLabel_codigo}"/>
                        <h:outputText value="#{departamentoController.selected.codigo}" title="#{bundle.ViewDepartamentoTitle_codigo}"/>
                        <h:outputText value="#{bundle.ViewDepartamentoLabel_nombre}"/>
                        <h:outputText value="#{departamentoController.selected.nombre}" title="#{bundle.ViewDepartamentoTitle_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DepartamentoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
