<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="body">
        <h:form>
            <p:growl id="grwError"/>
            <p:panel id="pnlCreateInfante" header="Crear Infante">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Nombre" for="txtNombre"/>
                    <p:inputText id="txtNombre" required="true" value="#{crearInfanteController.infante.nombre}"/>
                    <p:outputLabel value="Edad" for="txtEdad"/>
                    <p:inputText id="txtEdad" required="true" value="#{crearInfanteController.infante.edad}">
                        <f:validateLongRange minimum="1" maximum="5"/> 
                    </p:inputText>
                    <p:outputLabel value="Identificacion" for="txtIdentificacion"/>
                    <p:inputText id="txtIdentificacion" required="true" value="#{crearInfanteController.infante.identificacion}"/>

                    <p:outputLabel value="Departamento" for="slcDepartamento"/>
                    <p:selectOneMenu id="slcDepartamento" required="true" value="#{crearInfanteController.selected}">
                        <f:selectItem itemValue="0" itemLabel="Seleccione..." itemEscaped="true"/>
                        <f:selectItems value="#{appController.listDepartamentos}"/>
                        <p:ajax event="change" update="contenedorMunicipio" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Municipio" for="slcMunicipio"/>           
                    <h:panelGroup id="contenedorMunicipio">
                        <p:selectOneMenu  id="slcMunicipio" required="true" value="#{crearInfanteController.infante.fkMunicipio}">
                            <f:selectItems value="#{appController.obtenerMunicipioPorDepartamento(crearInfanteController.selected)}"/>
                        </p:selectOneMenu> 
                    </h:panelGroup>                        

                    <p:commandButton value="Cancelar" action="#{crearInfanteController.limpiarFormulario()}" immediate="true">
                        <p:ajax event="click" update="grwError,pnlCreateInfante" immediate="true"/>
                    </p:commandButton>
                    <p:commandButton value="Guardar" action="#{crearInfanteController.guardarInfante()}" update="grwError,pnlCreateInfante"/>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
