<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InfanteCreateDlg" widgetVar="InfanteCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateInfanteTitle}">
            <h:form id="InfanteCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{infanteController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateInfanteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{infanteController.selected.nombre}" title="#{bundle.CreateInfanteTitle_nombre}" required="true" requiredMessage="#{bundle.CreateInfanteRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateInfanteLabel_edad}" for="edad" />
                        <p:inputText id="edad" value="#{infanteController.selected.edad}" title="#{bundle.CreateInfanteTitle_edad}" required="true" requiredMessage="#{bundle.CreateInfanteRequiredMessage_edad}"/>
                        <p:outputLabel value="#{bundle.CreateInfanteLabel_identificacion}" for="identificacion" />
                        <p:inputText id="identificacion" value="#{infanteController.selected.identificacion}" title="#{bundle.CreateInfanteTitle_identificacion}" required="true" requiredMessage="#{bundle.CreateInfanteRequiredMessage_identificacion}"/>
                        <p:outputLabel value="#{bundle.CreateInfanteLabel_fkMunicipio}" for="fkMunicipio" />
                        <p:selectOneMenu id="fkMunicipio" value="#{infanteController.selected.fkMunicipio}" required="true" requiredMessage="#{bundle.EditInfanteRequiredMessage_fkMunicipio}">
                            <f:selectItems value="#{municipioController.itemsAvailableSelectOne}"
                                           var="fkMunicipioItem"
                                           itemValue="#{fkMunicipioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{infanteController.create}" value="#{bundle.Save}" update="display,:InfanteListForm:datalist,:growl" oncomplete="handleSubmit(args,'InfanteCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" immediate="true" onclick="InfanteCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
