<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMunicipioTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="DepartamentoListForm">
                <p:panel header="#{bundle.ListMunicipioTitle}">
                    <p:dataTable id="datalist" value="#{infantesReportesDepartamento.ninosDepartamento}" var="item">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Departamento"/>
                            </f:facet>
                            <h:outputText value="#{item[0]}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Cantidad"/>
                            </f:facet>
                            <h:outputText value="#{item[1]}"/>
                        </p:column>                                             
                    </p:dataTable>
                </p:panel>
            </h:form>
            <br/>
            <p:chart type="pie" model="#{infantesReportesDepartamento.infanteXDepartamento}" style="width:400px;height:300px;margin: 0 auto" />

        </ui:define>
    </ui:composition>

</html>
